button {
    height: 30px;
    width: 170px;
    background: rgb(67, 127, 167);
    color: rgb(231, 221, 216);
}

button:hover {
    color: rgb(67, 127, 167);
    background: rgb(231, 221, 216);
} 

button:active {
    background: rgb(67, 127, 167);
    color: rgb(231, 221, 216);
    width: 178px;
}

.ppp {
    display: inline-block;
}

.ppp_div {
    width: 100%;
    font-size: 20px;
}

