@font-face {
  font-family: "Franklin";
  src: url("../fonts/FRAMDCN.eot");
  src: local("☺"), url("../fonts/FRAMDCN.woff") format("woff"),
    url("../fonts/FRAMDCN.ttf") format("truetype"),
    url("../fonts/FRAMDCN.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

html,
body {
  font-family: "Franklin";
  font-weight: 500;
  font-style: normal;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}

.container {
  height: 100%;
}
.row {
  height: 100%;
}
.mar_none {
  margin-left: 0;
  margin-right: 0;
}
.title_block {
  font-size: 34px;
  font-weight: 500;
  letter-spacing: 0;
  color: #263244;
  text-align: center;
  line-height: 60px;
}
.title_block::after {
  content: "";
  display: block;
  margin: 0 auto;
  height: 4px;
  width: 72px;
  background: #d17700;
}

.header {
  height: 60px;
  background-color: rgba(42, 62, 80, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.logo {
  height: 100%;
}
.logo_text {
  font-size: 30px;
  line-height: 60px;
  color: #fff;
  animation: logo 2s linear infinite alternate;
}
@keyframes logo {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
.dropdown-item {
  text-transform: uppercase;
}
.dropdown-menu {
  background-color: rgba(111, 112, 126, 0.4);
}
.menu {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  margin-bottom: 0;
}
.menu li:nth-child(1) {
  animation: open_menu 500ms;
}
.menu li:nth-child(2) {
  animation: open_menu 1000ms;
}
.menu li:nth-child(3) {
  animation: open_menu 1500ms;
}
.menu li:nth-child(4) {
  animation: open_menu 2000ms;
}
.menu li:nth-child(5) {
  animation: open_menu 2500ms;
}
.menu_link {
  text-transform: uppercase;
  font-size: 17px;
  color: #fff;
}
.menu_link:hover {
  color: #fff;
}
.menu_active {
  transform: scale(1.2) skew(5deg, 5deg);
}
.menu li:hover {
  transform: skew(5deg, 5deg);
}
@keyframes open_menu {
  0% {
    transform: scale(0.1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.dropdown-item {
  color: #f4be84;
  background-color: rgba(111, 112, 126, 0.85);
}
.dropdown-item:visited {
  color: #f4be84;
}

.model_window {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(31, 29, 29, 0.4);
  z-index: 89;
  display: none;
  justify-content: center;
  align-items: center;
}
.model_banner {
  width: 50%;
  background: rgba(42, 62, 80, 0.9);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  position: relative;
}
.model_text {
  color: #fff;
  font-size: 25px;
}
.sale {
  display: block;
  font-size: 30px;
  animation: sale 1s alternate infinite;
}
.model_btn {
  position: absolute;
  padding: 10px;
  right: -47px;
  top: -19px;
  border: none;
  border-radius: 30px;
  background: rgba(42, 62, 80, 0.9);
  color: #fff;
}

@keyframes sale {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1.4);
  }
}
.main {
  height: 100%;
}

/*hero*/
.hero {
  height: 100vh;
  animation: open_hero 2s;
  margin-bottom: 40px;
  background: url(../img/i.png) 100% 100% / auto 90% fixed no-repeat,
    url(../img/fone_main_start.png) 50% / cover fixed no-repeat;
}
@keyframes open_hero {
  0% {
    transform: translateX(-300px);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
  }
}
.hero_info h1 {
  text-align: center;
  font-size: 79px;
  font-weight: 500;
  color: #223549;
}
.hero_info p {
  text-align: center;
  font-size: 21px;
  font-weight: 500;
  color: #76828e;
}
.input {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input input[type="button"] {
  background: rgba(0, 0, 0, 0);
  width: 95px;
  height: 42px;
  border: 1.6px solid #697784;
  border-radius: 5px;
  font-size: 19px;
  font-weight: 500;
  color: #697784;
}
.input input[type="button"]:last-child {
  width: 126px;
  margin-left: 26px;
}
.input input[type="button"]:hover {
  font-size: 21px;
  box-shadow: 5px 5px 5px #6f707e;
  border: none;
}
/*hero*/

/*about_me*/
.about_me img {
  margin-top: 59px;
  margin-bottom: 22px;
}
.about_me p {
  font-family: Arial, Helvetica, sans-serif;

  font-size: 18px;
  line-height: 17px;
  color: #38475a;
}
#download_resume {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  width: 157px;
  text-align: right;
  padding: 0px 10px;
  height: 34px;
  border: 0.5px solid #6f707e;
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0;
  color: #6f707e;
  background: url(../img/download_icon.png) 3% 50% no-repeat
    rgba(255, 255, 255, 0);
  display: block;
  margin: 33px auto 110px;
  transition: all 0.3s;
}
#download_resume:hover {
  background: rgba(111, 112, 126, 0.4);
  transform: scale(1.1);
  text-align: center;
  cursor: pointer;
}
/*about_me*/

/*skills*/
.skills {
  padding-top: 107px;
  padding-bottom: 92px;
  margin-bottom: 40px;
  background: url(../img/fon_skills.png) center / cover no-repeat;
}
.skills_item {
  transition: all 500ms;
}
.skills_item:nth-child(1) {
  transform: rotate(50deg);
}
.skills_item:nth-child(2):active,
.skills_item:nth-child(3):active {
  transform: rotate(360deg) scale(1.6) translateX(50px);
  transition: all 300ms;
  background-color: rgba(190, 192, 223, 0.6);
  border-radius: 30px;
}
.skills_item:nth-child(4):active,
.skills_item:nth-child(5):active {
  transform: rotate(360deg) scale(1.6) translateX(-50px);
  transition: all 300ms;
  background-color: rgba(190, 192, 223, 0.6);
  border-radius: 30px;
}
.skills_block {
  margin-top: 105px;
  transform: scale(1.1) scaleY(2) translate(-150px, -160px);
  opacity: 0;
  transition: all 1s;
  position: relative;
}
.skills_prompt {
  display: block;
  position: absolute;
  left: 2px;
  top: -200px;
  animation: prompt_open 1300ms alternate infinite;
  color: #e87700;
}
@keyframes prompt_open {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
.skills h4 {
  font-size: 18px;
  margin-top: 33px;
  margin-bottom: 12px;
  color: #e87700;
}
.skills_item img {
  height: 47px;
}
.skills_item p {
  text-align: center;
  font-family: Calibri;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 400;
  color: #38475a;
}
/*skills*/

/*cases*/
.cases_text-title {
  margin: 35px auto 47px;
  text-align: center;
  display: block;
  width: 55%;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 400;
  color: #38475a;
}
.slider {
  height: 400px;
  box-shadow: -6px 4px 14px #cf7600;
  border-radius: 10px;
}
.slide_img {
  display: block;
  margin: 0 auto;
}
.ya_btn {
  position: absolute;
  background-color: rgba(207, 118, 0, 0.75);
  border-radius: 50%;
  width: auto;
  height: 40px;
  display: flex;
  align-items: center;
}
.ya_btn:hover {
  background-color: rgba(207, 118, 0, 0.9);
}
.ya_btn_light {
  left: 10px;
  top: 50%;
}
.ya_btn_light img {
  transform: rotate(90deg);
}
.ya_btn_right {
  right: 10px;
  top: 50%;
}
.ya_btn_right img {
  transform: rotate(270deg);
}
.about_site {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  height: 180px;
}
.about_site_left_container h5 {
  text-align: left;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 0;
  color: #384354;
}
.about_site_left_container p {
  margin: 14px 0;
  font-family: Calibri;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0;
  color: #3f495a;
  text-align: left;
}
.link_button {
  margin-top: 22px;
  display: block;
  width: 200px;
  height: 44px;
  background-color: #63b5ae;
  border-radius: 5px;
  text-decoration: none;
  font-size: 20px;
  line-height: 44px;
  font-weight: 500;
  letter-spacing: 0;
  color: #fff;
  text-align: center;
}
.link_button:visited {
  color: #fff;
}
.link_button:hover {
  box-shadow: -2px -2px 5px #63b5ae;
  color: #fff;
}
.about_site_right_container {
  width: 75%;
  margin-left: 5%;
}
.about_site_right_container h6 {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 0;
  color: #384354;
}
.about_site_right_container p {
  font-family: Calibri;
  font-size: 21px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0;
  color: #3f495a;
  text-align: left;
}
/*cases*/

/*main_price*/
.price_container {
  margin: 250px auto 0;
  width: 80%;
}
.price_container h2 {
  text-align: center;
  font-size: 46px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0;
  color: #1c2534;
  margin-bottom: 54px;
}
.price_container h6 {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #1c2534;
}
.price_container select {
  width: 100%;
  height: 57px;
  background: #eeeeee;
  border-radius: 5px;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #737373;
  padding-left: 23px;
  margin: 22px 0 44px;
}
.price_container select:hover {
  box-shadow: 1px 1px 3px 2px rgb(23, 36, 216);
}
#form_price::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background: #d1d1d1;
  margin-bottom: 20px;
  margin-top: 20px;
}
button[type="reset"] {
  border: none;
  background-color: #63b5ae;
  border-radius: 5px;
  text-decoration: none;
  font-size: 20px;
  line-height: 44px;
  font-weight: 500;
  color: #fff;
}
.price_container .term,
.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  margin-bottom: 20px;
}

.price_button .link_button {
  margin: 0 auto;
}
/*main_price*/

/*main_statistics*/
.statistics {
  margin-top: 145px;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  background: url(../img/fon_statistic.png) center / cover no-repeat;
}
.statistics_container {
  margin-top: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  transition: all 2s;
}
.statistics_item {
  margin: 5px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: all 300ms;
}
.statistics_item h3 {
  font-size: 37px;
  line-height: 20px;
  font-weight: 400;
  color: #323e4f;
  margin: 30px;
}
.statistics_item p {
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0;
}
.statistics_item:hover {
  transform: rotate(8deg) scale(1.17);
}

.hide {
  opacity: 0;
}
/*main_statistics*/

/*main_comment*/
.comment_container {
  position: relative;
}
.promt_comment {
  animation: prompt_open 1300ms alternate infinite;
  color: #c96500;
  position: absolute;
  top: -20px;
  left: 310px;
}
.comment_container img {
  display: block;
  margin: 58px auto 33px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transition: all 500ms;
}
.comment_container img:hover {
  transform: rotate(360deg) scale(1.6);
  transition: all 500ms;
}
.comment_text_container {
  width: 50%;
  margin: 0 auto;
}
.comment_text_container p {
  text-align: center;
}
.who_comments {
  margin-top: 33px;
}
.comment_button_block {
  margin: 48px auto 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.comment_button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #cfd2d7;
}
.comment_button:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.comment_button:nth-child(2) {
  margin: 0 14px;
}
.comment_button_active {
  width: 11px;
  height: 11px;
  background: #c96500;
}
/*main_comment*/

/*main_contacts*/
.contacts::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgb(17,27,46);
  z-index: -10;
}
.contacts {
  position: relative;
  background: rgb(17,27,46);
  padding: 100px 0 65px;
  opacity: 0;
  transition: all 2s;
}
.contacts .title_block {
  color: #fff;
}
.contacts > p {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 37px;
  font-family: Calibri;
  font-size: 16.7px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0;
  color: #fff;
}
.contacts_container {
  width: 50%;
}
.contacts_contact {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.contacts_items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 130px;
}
.contacts_items:hover {
  transform: scale(1.1);
}
.contacts_items p {
  margin-top: 11px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0;
  color: #fff;
  text-align: center;
}
.contacts_form h3 {
  text-align: center;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 0;
  color: #ffffff;
  margin-top: 37px;
}
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 43px;
}
.contacts_container input[type="text"],
input[type="email"] {
  width: 48%;
  height: 34px;
  padding-left: 13px;
  background: rgba(209, 213, 219, 0.75);
  font-size: 16.7px;
  font-weight: 500;
  letter-spacing: 0;
  color: #5d5d5e;
}
.contacts_container textarea {
  width: 100%;
  margin-top: 14px;
  padding-left: 13px;
  padding-top: 14px;
  background: rgba(209, 213, 219, 0.75);
  font-size: 16.7px;
  font-weight: 500;
  letter-spacing: 0;
  color: #5d5d5e;
}
.contacts_container input[type="submit"] {
  width: 125px;
  height: 46px;
  border: 0.5px solid #f9faff;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0);
  color: #fff;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 0;
  display: block;
  margin: 28px auto 0;
}
.contacts_container input[type="submit"]:hover {
  box-shadow: inset 0 0 10px 5px #f9faff;
  border-radius: 10px;
  cursor: pointer;
}
.social_link:not(:last-child) {
  margin-right: 10px;
}
.contacts_social_networks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 420px;
  margin: 70px auto;
}
.contacts_social_networks img:hover {
  transform: scale(1.07);
}
/*main_contacts*/

/*footer*/
.footer {
  height: 96px;
  width: 100%;
  background: #354051;
}
.footer p {
  text-align: center;
  margin-bottom: 0;
  font-family: Arial;
  font-size: 14px;
  line-height: 96px;
  font-weight: 400;
  color: #fff;
}
/*footer*/


@media (max-width: 991px) {
  .hero {
    position: relative;
  }
  .hero::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 0;
  }
  .hero_info {
    z-index: 1;
  }
  .hero_info h1 {
    text-shadow: 1px 1px 2px #111;
    color: rgba(255, 255, 255, 0.9);
  }
  .input input[type="button"] {
    color: rgba(255, 255, 255, 0.9);
  }
}
@media (max-width: 770px) {
  .hero {
    background: none;
  }
  .hero::after {
    content: "";
    background: linear-gradient(
        180deg,
        rgba(31, 29, 29, 0.4),
        rgba(31, 29, 29, 0.4)
      ),
      url(../img/i.png) 100% 100% / auto 80% no-repeat,
      url(../img/fone_main_start.png) 50% / cover no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  .menu {
    padding-left: 0;
  }
  .about_me {
    background-color: #fff;
    padding-bottom: 40px;
  }
  .download_resume {
    margin-bottom: 0;
  }
  .skills {
    margin-bottom: 0;
  }
  .cases {
    background-color: #fff;
  }
  .price {
    background-color: #fff;
    margin-bottom: 0;
    padding-bottom: 35px;
  }
  .statistics {
    margin-top: 0;
  }
  .main_comment {
    background-color: #fff;
    padding-bottom: 50px;
  }
  .comment_button_block {
    margin-bottom: 0;
  }
  .comment_button {
    width: 22px;
    height: 22px;
  }
  .comment_button_active {
    width: 25px;
    height: 25px;
  }
  .contacts_contact {
    margin: 0 auto;
    flex-wrap: wrap;
    width: 90%;
  }
  .contacts_items {
    margin: 0 auto;
  }
  .about_site {
    flex-direction: column-reverse;
    height: auto;
  }
  .about_site_right_container {
    width: auto;
  }
  .promt_comment {
    left: 190px;
  }
  .contacts_container input[type="text"]::-webkit-input-placeholder,
  input[type="email"]::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #fff;
  }
  .contacts_container input[type="text"]:focus-visible,
  input[type="email"]:focus-visible,
  textarea:focus-visible {
    border: none;
    outline: none;
  }
  .contacts_container input[type="text"],
  input[type="email"] {
    color: #fff;
    background-color: transparent;
    border: none;
    box-shadow: 0px 0px 15px -2px #fff;
    margin-bottom: 5px;
  }
  .contacts_container textarea {
    background: none;
    color: #fff;
    border: none;
    box-shadow: 0px 0px 15px -2px #fff;
  }
}

@media (max-width: 426px) {
  .link_button {
    width: auto;
  }
  .contacts_container {
    width: auto;
  }
  .contacts {
    padding: 100px 5px 65px;
  }
  .contacts_form form {
    flex-direction: column;
  }
  .contacts_container input[type="text"],
  input[type="email"] {
    width: auto;
  }
  .promt_comment {
    left: 10px;
  }
}
