* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #621402;
  color: #fff;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  min-height: 100vh;
  background: linear-gradient(180deg, rgba(98, 20, 2, 0.31) 0%, #621402 85.62%),
    url(../img/bg.png) no-repeat center top/cover;
  margin-bottom: 0;
}

.navbar {
  display: flex;
  align-items: center;
  padding-top: 31px;
}

.menu {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0 0 0 57px;
}

.menu .link {
  margin-right: 25px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.menu .link:hover {
  text-decoration: underline;
}

.avatar {
  width: 33px;
  height: 33px;
  border-radius: 50%;
}

.user {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.hello_user {
  color: #fff;
  margin-right: 11px;
  font-size: 16px;
}

/*информация о фильме*/
.about_film {
  margin-top: 92px;
  margin-bottom: 69px;
}

.about_film_wrapper {
  display: flex;
  align-items: center;
}

.about_film_wrapper .text {
  max-width: 570px;
}
.about_film_wrapper .play {
  margin: auto;
}

.about_film_wrapper .text h2 {
  font-size: 24px;
  line-height: 150%;
  color: #ffffff;
  opacity: 0.5;
}

.about_film_wrapper .text h1 {
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
}

.about_film_wrapper .text p {
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}

.play:hover {
  opacity: 0.75;
}

.film_information {
  display: flex;
  width: 255px;
  margin-top: 53px;
}

.film_information p {
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}

.time {
  display: flex;
  align-items: center;
  margin-right: 34px;
}

.time img {
  width: 20px;
  height: 20px;
  margin-right: 14px;
}

.rating {
  display: flex;
  align-items: center;
}

.rating img {
  width: 35px;
  height: 18px;
  margin-right: 12px;
}

.rating span {
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
}
/*информация о фильме*/

/*выбор даты, времени и кинотеатра*/
.session {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  padding-top: 46px;
  padding-bottom: 64px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.session-label {
  display: block;
  margin-bottom: 20px;
}
.session-date {
  display: flex;
  flex-direction: column;
}
.session-block {
  display: flex;
}
.session-date-items {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 9px 27px;
  margin-right: 15px;
  transition: background 0.2s;
}
.session-date-items:hover {
  background: #fe8e05;
  color: #621402;
}
.date-items-activity {
  background: #fe8e05;
  color: #621402;
}
.date-items-mounth {
  font-size: 16px;
  line-height: 19px;
}
.date-items-day {
  font-weight: 900;
  font-size: 30px;
  line-height: 35px;
}
.date-items-week {
  font-size: 19px;
  line-height: 22px;
}
select {
  cursor: pointer;
}
.select-cinema {
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  min-width: 470px;
  padding: 23px 18px;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}
.select-time {
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  min-width: 108px;
  padding: 23px 18px;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}
/*выбор даты, времени и кинотеатра*/

.hall {
  margin-bottom: 62px;
}
.hall path:not(.screen_light, .svg_legends) {
  cursor: pointer;
  fill: rgba(255, 255, 255, 0);
}
.booked {
  fill: rgba(255, 255, 255, 0.05);
  opacity: 0.3;
}
path.booked:hover:not(.svg_legends) {
  cursor: not-allowed;
}
.hall path.activity {
  fill: rgba(254, 142, 5, 1);
}
.hall path.activity_legends {
  fill: rgba(254, 142, 5, 1);
}
.legends_seats {
  height: 85px;
  background: rgba(36, 36, 36, 0.18);
  margin-top: -4px;
}
.legends_seats_block {
  width: 1018px;
  margin: 0 auto;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: start;
}
.legends_hall {
  margin-top: 22px;
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.legends_hall svg {
  margin-right: 17px;
}
.price_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price {
  display: flex;
  flex-direction: column;
}
.price_text {
  font-size: 18px;
  line-height: 21px;
}
.price_sum {
  margin-top: 12px;
  font-size: 52px;
  line-height: 61px;
}
.price_total {
  margin-right: 15px;
}
.pay_button {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  padding: 24px 52px;
  background: rgba(254, 142, 5, 1);
  border-radius: 5px;
}
.pay_button:hover {
  color: rgba(98, 20, 2, 1);
}
